header  {
    background: rgb(245, 245, 255);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

header ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 8px;
}

header li a {
    color: rgb(61, 56, 79);
    font-size: 20px;
    padding: 8px;
    text-decoration: none;
}